# ⚙️ Archivos de configuración y ambiente
.env
*.log

# 📦 Dependencias Node.js
node_modules/
**/node_modules/

# 🔧 Archivos compilados (TS/JS)
dist/
*.tsbuildinfo
build/

# 💻 Entornos de desarrollo (VSCode, IntelliJ, etc.)
.vscode/
.idea/

# ⚠️ Archivos del sistema operativo
.DS_Store
Thumbs.db

# 🔍 Prisma
backend/generated/
backend/prisma/.env
backend/prisma/dev.db
